bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

[Dd]ebug/
[Rr]elease/

.idea/
_ReSharper*/
*.DotSettings.user

# Logs / temp
*.log
*.tmp
*.temp

*.coverage
*.coveragexml
*.trx

*.nupkg
*.snupkg
packages/
**/packages/*
!**/packages/build/


.DS_Store